@import "../../styles/General.scss";

.head-title__container {
  margin: 0 auto;
  margin-bottom: $block-margin-bottom;

  p {
    @include titleFont;
    text-align: center;

    @media screen and (max-width: $xs) {
      @include titleFont($font-size: 33px, $line-height: 48px);
    }
  }
}
