@import "../../styles/_Variables.scss";
@import "../../styles/_Mixins.scss";

.all-planets-container {
  display: flex;
  justify-content: center;
}

.all-planets-container a {
  text-decoration: none;
}

.card {
  list-style-type: none;
  display: inline-flex;
  gap: 10px;
}

.card_name {
  @include mainFont;
  font-size: 14px;
}
