@import "../../styles/_Variables.scss";
@import "../../styles/_Mixins.scss";

.planet-container_table {
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 180px;
  font-size: 22px;
  line-height: 26px;

  @media screen and (max-width: 1279px) {
    max-width: 90%;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }

  &__section {
    width: 100%;
    border: 4px solid #fffbfb;
    border-radius: 20px;
    padding: 42px;

    @media screen and (max-width: 1279px) {
      padding: 25px;
    }
  }
}
.table__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-left: -14px;
}

.table {
  display: flex;
  flex-direction: column;
  padding-top: 28px;

  &__row {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    padding-bottom: 12px;
    align-items: center;
  }

  &__item {
    font-weight: 600;
  }

  &__value {
    font-weight: 400;
  }
}
