@import "../../styles/General.scss";

.statistics__container {
  max-width: 1384px;
  margin: 0 auto;

  @media screen and (min-width: $xxl) {
    min-width: 75%;
  }

  &_box {
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media screen and (max-width: $l) {
      grid-template-columns: 1fr;
      margin-bottom: 2rem;
    }
  }

  &_header {
    display: flex;
    margin-bottom: $block-margin-bottom;
    justify-content: flex-end;
    @include titleFont;

    @media screen and (max-width: $xxs) {
      justify-content: center;
      @include titleFont($font-size: 33px, $line-height: 48px);
    }

    @media screen and (min-width: 481px) and (max-width: $m) {
      justify-content: center;
      @include titleFont($font-size: 60px);
    }
  }

  &_thought {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: $l) {
      align-items: center;
    }

    img:first-of-type {
      z-index: 1;
      background-color: transparent;

      @media screen and (max-width: $xxs) {
        width: 260px;
        height: 260px;
        margin-left: -80px;
      }

      @media screen and (min-width: 481px) and (max-width: $l) {
        margin-left: -80px;
      }
    }

    img:last-child {
      width: 197px;
      height: 475px;
      margin-top: -28px;
      margin-left: 230px;
      margin-bottom: 4rem;

      @media screen and (max-width: $xxs) {
        width: 153px;
        height: 370px;
        margin-top: -28px;
        margin-left: 90px;
      }
    }

    p {
      margin-bottom: -200px;
      margin-left: 40px;
      text-align: center;
      @include mainFont($font-weight: 600, $line-height: 35px);
      z-index: 2;
      background-color: transparent;

      @media screen and (max-width: $xxs) {
        margin-bottom: -144px;
        margin-left: -90px;
        @include mainFont($font-size: 16px, $line-height: 25px);
      }

      @media screen and (min-width: 481px) and (max-width: $l) {
        margin-left: -90px;
      }
    }
  }

  &_buttons {
    display: flex;
    height: 32%;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: $m) {
      margin-top: $block-margin-top;
      flex-direction: column;
      align-items: center;
    }

    select,
    button {
      width: 410px;
      height: 65px;
      @extend %statBorder;
      @include mainFont;
      cursor: pointer;
      background-color: transparent;

      @media screen and (max-width: 820px) {
        width: 320px;
        height: 70px;
      }
    }

    select {
      margin-right: 25px;
      padding-left: 20px;
      @include mainFont($font-weight: 600, $line-height: 35px);
      outline: none;
      appearance: none;
      background-image: url(../../images/arrow.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 25px) center;

      &:hover {
        background-color: lighten($app-general-background, 5);
      }

      @media screen and (max-width: $m) {
        margin-right: 0;
        margin-bottom: 2rem;
        @include mainFont($font-size: 15px, $line-height: 45px);
        background-position: calc(100% - 15px) center;
      }
    }

    button {
      @include mainFont(
        $font-weight: 500,
        $font-size: 36px,
        $line-height: 50px
      );

      &:hover {
        @include mainFont($color: $app-general-background);
        background-color: $main-font-color;
      }

      @media screen and (max-width: $m) {
        @include mainFont($font-size: 20px, $line-height: 50px);
      }
    }
  }

  &_graph {
    width: 95%;
    margin: 2rem auto 5rem;

    canvas {
      background-image: none;
      background-color: $main-font-color;
    }
  }
}
