@import "../../styles/General.scss";

.planet__container {
  max-width: 1384px;
  margin: 0 auto;
  margin-bottom: 180px;
  @include mainFont;

  @media screen and (max-width: $xl) {
    margin-bottom: 115px;
  }

  @media screen and (min-width: $xxl) {
    min-width: 75%;
  }

  &_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
    padding-bottom: 3.125rem;
    gap: 5%;
    overflow: hidden;

    @media screen and (max-width: $xl) {
      grid-template-columns: 1fr;
      height: fit-content;
      text-align: center;
    }
  }

  &_name {
    display: flex;
    align-items: flex-end;
    @include titleFont(
      $font-size: 144px,
      $line-height: 250px,
      $text-transform: none
    );

    @media screen and (min-width: $xxl) {
      justify-content: center;
    }

    @media screen and (max-width: $xl) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 781px) and (max-width: $m) {
      @include titleFont($font-size: 120px);
    }

    @media screen and (min-width: 541px) and (max-width: $s) {
      @include titleFont($font-size: 90px);
    }

    @media screen and (max-width: $xs) {
      @include titleFont($font-size: 78px, $line-height: 150px);
    }
    @media screen and (max-width: $xxs) {
      @include titleFont($font-size: 56px, $line-height: 81px);
    }
  }

  &_img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 396px;
      border-radius: 400px;
      background-color: transparent;
      animation: planet 10s linear 0s infinite;

      @media screen and (max-width: $xxs) {
        width: 180px;
      }

      @media screen and (min-width: 481px) and (max-width: $s) {
        width: 250px;
      }

      @media screen and (min-width: $xxs) {
        width: 500px;
      }
    }
  }
}
