@import "./_Variables.scss";
@import "./_Templates.scss";

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* fonts */
@font-face {
  font-family: "Rock 3D Regular";
  src: local("Rock 3D Regular"),
    url("../assets/fonts/Rock3D-Regular.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  html,
  body {
    height: 100%;
  }

  body {
    max-width: 90rem;
    margin: 0 auto;
  }

  #root {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color: $app-general-background;
    background-image: url(../assets/images/stars.svg);
  }

  main {
    flex: 1 1 auto;
  }
}
