@import "../../styles/General.scss";

.all-planets__container-outer {
  display: flex;
  max-width: 1384px;
  margin: 0 auto;
  margin-bottom: 180px;
  justify-content: center;
  overflow-x: hidden;

  @media screen and (max-width: $xl) {
    margin-bottom: 115px;
  }

  @media screen and (min-width: $xxl) {
    min-width: 80%;
  }
}

.all-planets__container-inner {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;

  a {
    text-decoration: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 1385px) {
    justify-content: center;
  }
}
