@import "../../styles/_Variables.scss";
@import "../../styles/_Mixins.scss";

.header {
  margin-bottom: $block-margin-bottom;

  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__menu {
    display: flex;
    flex-direction: row;
  }

  &__menu li {
    margin-left: 15%;
  }

  &__images {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: -20%;
  }

  &-mobile__button {
    display: none;
  }

  &__box {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
    }

    a {
      @include mainFont;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 920px) {
  .header {
    overflow: hidden;

    &__logo {
      position: absolute;
      top: 30px;
      left: 15px;
      margin: 0;
      z-index: 2;
      background-color: transparent;
    }

    &-mobile__button {
      display: block;
      position: absolute;
      right: 10px;
      top: 27px;
      cursor: pointer;
      z-index: 10;
      color: $main-font-color;
      background-color: transparent;
    }

    &-mobile__button svg {
      background-color: transparent;
    }

    &__menu {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      transition: left 1s;
      gap: 30px;
      background-color: $app-general-background;
      background-image: url(../../images/rocket.svg),
        url(../../images/stars.svg);
      background-repeat: no-repeat, repeat;
      background-position: bottom, center;
      background-size: 70vmax;

      @media (orientation: landscape) {
        background-image: url(../../images/stars.svg);
        background-repeat: repeat;
      }
    }

    &__menu li {
      margin: 0;
    }

    &__menu li:last-child {
      margin-bottom: 80%;

      @media (orientation: landscape) {
        margin-bottom: 0;
      }
    }

    &__menu_active {
      left: 0;
    }
  }
}
