@import "../../styles/_Variables.scss";
@import "../../styles/_Mixins.scss";

.header {
  margin-bottom: 3rem;

  .header__container {
    display: flex;
    padding: 0 10px;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__images {
    display: flex;
    align-items: center;
  }

  .header__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    ul {
      list-style: none;
    }

    a {
      @include mainFont;
      text-decoration: none;
    }
  }
}

.header-mobile__button {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    overflow: hidden;
  }

  .header__logo {
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 2;
    background-color: transparent;
  }

  .header-mobile__button {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
    color: $main-font-color;
  }

  .header__menu {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: left 1s;
    gap: 30px;
    background-color: $app-general-background;
    background-image: url(../../images/astronaut.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 20vmax;
  }

  .header__menu li:last-child {
    margin-bottom: 80%;
  }

  .header__menu_active {
    left: 0;
  }
}
