@import "../../styles/General.scss";

.error__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mainFont;

  h1 {
    text-align: center;

    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }

  img {
    width: 300px;
    background-color: transparent;

    @media screen and (max-width: 480px) {
      width: 75%;
    }
  }

  button {
    width: 200px;
    height: 45px;
    @include statBorder;
    @include mainFont;

    &:hover {
      color: $app-general-background;
      background-color: $main-font-color;
    }
  }
}
