@import "../../styles/General.scss";

.footer__container {
  display: flex;
  margin-top: 1.5rem;
  padding: 1rem;
  justify-content: center;
  @include mainFont;

  a svg {
    margin-right: 3px;
    cursor: pointer;

    &:hover {
      fill: $github-hover-color;
    }
  }
}
