.head-title-container {
    width: 80vw;
    margin: 0 auto;
    background-color: #051F52;
}
.head-title-container p{
    font-family: 'Rock 3D Regular';
font-style: normal;
font-weight: 400;
font-size: 78px;
line-height: 113px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
@media screen and (max-width: 480px) {
    font-size: 33px;
    line-height: 48px;
}
}