@import "../../styles/_Variables.scss";
@import "../../styles/_Mixins.scss";

.head-title-container {
  margin: 0 auto;
}

.head-title-container p {
  @include titleFont;
  text-align: center;

  @media screen and (max-width: 480px) {
    font-size: 33px;
    line-height: 48px;
  }
}
