@import "../../styles/_Variables.scss";
@import "../../styles/_Mixins.scss";

.footer {
  @include mainFont;
  text-transform: uppercase;

  &__container {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}
