/* colors */
$app-general-background: #051f52;
$main-font-color: #ffffff;
$statistics-border-color: #fffbfb;
$github-hover-color: #8dd6f959;

/* fonts */
$main-font: "Raleway", "sans-serif";
$title-font: "Rock 3D Regular";

/* other */
$block-margin-bottom: 5rem;
$block-margin-top: 3rem;

/* media queries */
$xxs: 480px;
$xs: 540px;
$s: 780px;
$m: 1024px;
$l: 1279px;
$xl: 1280px;
$xxl: 1800px;
